/* scaffolding */

@font-face {
	font-family: 'Raleway';
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
		url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
		url('../fonts/Raleway-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Bradobrei';
	src: local('Bradobrei Regular'), local('Bradobrei'),
		url('../fonts/Bradobrei.woff2') format('woff2'),
		url('../fonts/Bradobrei.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

:hover,
:active,
:focus {
	outline: none;
}

body {
	min-width: 320px;
	margin: 0;
	padding: 0;

	font-family: 'Verdana', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;

	font-weight: normal;
}

ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

a,
a:hover,
a:active {
	color: #000;
	text-decoration: none;
}

.container {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	padding: 0 100px;
}

@media (max-width: 1199px) {

	.container {
		width: 100%;
		margin: 0;
		padding: 0 20px;
	}

}

.btn {
	display: inline-block;
	padding: 10px 45px;

	font-family: 'Raleway';
	font-weight: 800;
	font-size: 12px;
	color: #000;
	text-transform: uppercase;

	background: #fff;
}

.btn.request:active {
	color: #00000070;
}

.btn.more {
	border: 2px solid #000;
}

.btn.more:hover {
	color: #fff;

	background: #000;
}

.btn.more:active {
	color: #ffffff70;
}

.more-group {
	display: flex;
	align-items: center;
}

.more-group .btn {
	flex-shrink: 0;
	margin-right: 30px;
}

.more-group .decor {
	width: 100%;
	height: 1px;

	background: #e9e8e4;
}

/**/



/* .header */

.header {
	color: #fff;

	background-color: #000;
	background-image: url('../img/header.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@media (min-width: 1930px) {

	.header {
		width: 1400px;
		margin: 0 auto;
	}

}

.header .container {
	position: relative;

	height: 100vh;
	min-height: 610px;
	padding-top: 45px;
	padding-bottom: 90px;
}

@media (min-width: 1930px) {

	.header .container {
		height: 610px;
	}

}

@media (max-width: 1199px) {

	.header .container {
		height: 610px;
		min-height: 610px;
	}

}

@media (max-width: 991px) {

	.header .container {
		padding-top: 0;
		padding-bottom: 0;
	}

}

/**/



/* .header-top */

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

@media (max-width: 991px) {

	.header-top {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 9999; /* > .nav-cont */

		align-items: center;
		height: 85px;
		padding: 0 20px;

		background: #000;
	}

}

.menu-toggler {
	display: flex;
	align-items: center;
	padding: 0;

	background: none;
	border: none;
}

.menu-toggler ion-icon {
	font-size: 24px;
	color: #fff;
}

@media (max-width: 991px) {

	.menu-toggler:hover {
		cursor: pointer;
	}

	.menu-toggler:active img,
	.menu-toggler:active ion-icon {
		opacity: 0.3;
	}

	.menu-toggler.active img,
	.menu-toggler.active ion-icon {
		opacity: 0.3;
	}

}

@media (min-width: 992px) {

	.menu-toggler ion-icon {
		display: none;
	}

}

.logo {
	display: block;
	width: 32px;
	height: 55px;
	margin-bottom: 45px;
}

@media (max-width: 991px) {

	.logo {
		margin: 0;
		margin-right: 10px;
	}

	.nav {
		display: flex;
		align-items: center;
		height: 85px;
	}

}

.nav-list:after {
	content: "";

	display: block;
	width: 50px;
	height: 1px;
	margin-top: 30px;

	background: #fff;
}

@media (max-width: 991px) {

	.nav-cont {
		position: absolute;
		top: 85px;
		left: 0;
		z-index: 9998; /* < .header-top */

		display: none;
		width: 100%;
		padding: 20px 20px 45px;

		background: #000;
	}

	.nav-list:after {
		display: none;
	}

}

@media (max-width: 575px) {

	.nav-list:after {
		display: block;

		margin-bottom: 30px;
	}

}

.nav-link {
	font-family: 'Raleway';
	font-size: 12px;
	line-height: 30px;
	color: #fff;
	text-transform: uppercase;
}

.nav-link:hover {
	color: #fff;
}

.nav-link:active {
	color: #ffffff30;
}

.nav-cont .phone {
	display: none;
}

.contacts {
	display: flex;
	align-items: center;
}

.phone {
	margin-right: 45px;

	font-family: 'Bradobrei';
	font-size: 20px;
	letter-spacing: 1px;
	color: #fff;
}

.phone:hover {
	color: #fff;
}

.phone:active {
	color: #ffffff30;
}

@media (max-width: 767px) {

	.phone {
		margin-right: 20px;

		font-size: 18px;
	}

}

@media (max-width: 575px) {

	.phone {
		display: none;
	}

	.nav-cont .phone {
		display: block;

		font-size: 14px;
		letter-spacing: 0;
	}

}

/**/



/* .header-bottom */

.header-bottom {
	position: absolute;
	right: 100px;
	bottom: 90px;
	left: 100px;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

@media (max-width: 1199px) {

	.header-bottom {
		right: 20px;
		left: 20px;
	}

}

@media (max-width: 991px) {

	.header-bottom {
		position: static;

		align-items: center;
	}

}

.intro h2 {
	margin-bottom: 30px;

	font-family: 'Bradobrei';
	font-size: 48px;
	line-height: 1;
	word-break: break-all;
}

@media (max-width: 575px) {

	.intro h2 {
		font-size: 36px;
	}

}

.intro p,
.language a {
	position: relative;

	font-family: 'Raleway';
	font-size: 12px;
	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;	
}

.language {
	display: flex;
}

.language a {
	display: block;

	border-bottom: 1px solid transparent;
}

.language a:hover {
	border-color: #fff;
}

.language a:active {
	color: #ffffff30;

	border-color: #ffffff30;
}

.language a.active {
	border-color: #fff;
}

.language a.active:active {
	color: #fff;

	border-color: #fff;
}

.language-ru {
	margin-right: 15px;
}

@media (max-width: 991px) {

	.language {
		position: absolute;
		bottom: 45px;
		left: 20px;
	}

}

/**/



/* .about */

.about {
	padding: 90px 0;
}

.about .container {
	position: relative;
}

@media (max-width: 767px) {

	.about .container {
		flex-direction: column;
		align-items: center;
	}

}

.about h3 {
	position: absolute;
	top: 0;
	left: 130px;
	transform-origin: top right;
	transform: translate(-100%) rotate(-90deg);
	z-index: 2;

	display: flex;
	align-items: center;

	font-family: 'Bradobrei';
	font-size: 30px;
	line-height: 1;
}

@media (max-width: 1199px) {

	.about h3 {
		left: 50px;
	}

}


@media (max-width: 767px) {

	.about h3 {
		position: static;
		transform: none;

		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}

}

.about h3:after {
	content: "";

	display: block;
	width: 80px;
	height: 1px;
	margin-left: 20px;

	background: #000;
}

@media (max-width: 767px) {

	.about h3:before {
		content: "";

		display: block;
		width: 80px;
		height: 1px;
		margin-right: 20px;

		background: #000;
	}

}

@media (max-width: 575px) {

	.about h3:after {
		content: "";

		display: block;
		width: 50px;
		height: 1px;
		margin-left: 10px;

		background: #000;
	}

	.about h3:before {
		content: "";

		display: block;
		width: 50px;
		height: 1px;
		margin-right: 10px;

		background: #000;
	}

}

.col {
	position: relative;

	width: 50%;
}

.about .col-left {
	width: calc(50% - 60px);
}

@media (max-width: 767px) {

	.about .col-left {
		width: 280px;
	}

}

.about .col-left:before {
	content: "";

	position: absolute;
	top: 40px;
	right: 0;
	left: 0;

	height: 270px;

	background: #f6f6f6;
}

.about .col-left img {
	position: relative;

	display: block;
	width: 100%;
	padding-left: 90px;
}

@media (max-width: 767px) {

	.about .col-left:before {
		display: none;
	}

	.about .col-left img {
		margin: 0;
		padding: 0;	
	}

}

.about .col-right {
	display: flex;
	flex-direction: column;
	width: calc(50% + 60px);
}

@media (max-width: 767px) {

	.about .col-right {
		width: auto;
	}

}

.about .col-right .about-cont {
	position: relative;

	min-height: 310px;
	margin-bottom: auto;
	padding: 80px 40px 40px 60px;
}

@media (max-width: 767px) {

	.about .col-right .about-cont {
		padding: 80px 35px 40px 35px;
	}

}

@media (max-width: 575px) {

	.about .col-right .about-cont {
		min-height: 0;
		padding: 80px 20px 40px 20px;
	}

}

@media (max-width: 575px) {

	.about .col-right .about-cont {
		min-height: 0;
	}

}

.about .col-right .about-cont:before {
	content: "";

	position: absolute;
	top: 40px;
	right: 0;
	bottom: 0;
	left: 0;

	background: #f6f6f6;
}

.about .col-right p {
	position: relative;
}

.about .col-right p:before {
	content: "Н";

	position: absolute;
	top: -70px;

	display: block;

	font-family: 'Bradobrei';
	font-size: 60px;
	line-height: 1;
	transform: translateX(-7px);
}

.about .col-right .more-group {
	width: 100%;
	margin-top: 30px;
	padding-left: 60px;
}

@media (max-width: 767px) {

	.about .col-right .more-group {
		padding-left: 20px;
	}

}

/**/



/* .service */

.service {
	margin-bottom: 100px;
}

@media (max-width: 767px) {

	.service .container {
		flex-direction: column;
		align-items: center;
	}

}

.service .col {
	position: relative;
}

@media (max-width: 767px) {

	.service .col {
		width: auto;
	}

}

.service .col-left {
	display: flex;
	flex-direction: column;
	padding-bottom: 75px;
}

@media (max-width: 767px) {

	.service .col-left {
		margin-bottom: 45px;
		padding: 0;
	}

}

.service .col-left .service-cont {
	position: relative;

	display: flex;
	flex-direction: column;
	min-height: 320px;
	padding: 10px 35px 35px;
}

@media (max-width: 767px) {

	.service .col-left .service-cont {
		min-height: 0;
		margin-bottom: 30px;
	}

}

@media (max-width: 575px) {

	.service .col-left .service-cont {
		padding: 10px 20px 35px;
	}

}

.service .col-left .service-cont:before {
	content: "";

	position: absolute;
	top: 30px;
	right: 0;
	bottom: 0;
	left: 0;

	background: #f6f6f6;
}

.service .col-left h3 {
	position: relative;

	margin-bottom: 20px;
	padding-right: 100px;

	font-family: 'Bradobrei';
	font-size: 30px;
	line-height: 1;
}

.service .col-left h3:after {
	content: "";

	position: absolute;
	top: 0;
	right: 0;

	display: block;
	width: 77px;
	height: 72px;

	background: url('../img/chess.png') no-repeat center;
}

.service .col-left h4 {
	position: relative;

	margin-bottom: 20px;

	font-family: 'Raleway';
	font-weight: 800;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.service .col-left p {
	position: relative;
}

.service .col-left .more-group {
	position: absolute;
	bottom: 0;
	left: 0;
	
	width: 100%;
	padding-left: 35px;
}

@media (max-width: 767px) {

	.service .col-left .more-group {
		position: static;

		padding-left: 20px;
	}

}

.service .col-right {
	padding-left: 45px;
}

@media (max-width: 767px) {

	.service .col-right {
		padding: 0;
	}

}

.service .col-right .promo {
	position: relative;

	height: 100%;
	padding-bottom: 75px;
}

.service .col-right .promo-top {
	display: flex;
	height: 100%;
}

.service .col-right .promo-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	min-height: 300px;
	padding: 60px 50px 50px;

	background-color: #226392;
	background-image: url('../img/promo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow: 0 5px 15px #00000030;
}

@media (max-width: 767px) {

	.service .col-right .promo-item {
		padding: 60px 35px 50px;
	}

}

@media (max-width: 575px) {

	.service .col-right .promo-item {
		padding: 60px 20px 50px;
	}

}

.service .col-right h4 {
	margin-bottom: 20px;

	font-family: 'Raleway';
	font-size: 24px;
	line-height: 28px;
	color: #fff;
}

.service .col-right .btn {
	align-self: flex-start;
}

.service .col-right .promo-bottom {
	position: absolute;
	bottom: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 48px;
}

.pagination {
	display: flex;
}

.pagination li {
	width: 8px;
	height: 8px;
	margin-right: 5px;

	font-size: 0;

	background: #e5e5e5;
	border-radius: 50%;

	cursor: pointer;
}

.pagination li.active {
	background: #000;
}

.promo-next {
	display: flex;
	align-items: center;

	font-family: 'Raleway';
	font-weight: 800;
	font-size: 12px;
	line-height: 1;
	color: #000;
	text-transform: uppercase;

	cursor: pointer;
}

.promo-next:after {
	content: "";

	display: block;
	width: 50px;
	height: 1px;
	margin-left: 15px;

	background: #000;
}

.promo-next:active {
	color: #00000070;
}

/**/



/* .info */

.info {
	color: #fff;

	background-color: #000;
	background-image: url('../img/info.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@media (min-width: 1930px) {

	.info {
		width: 1400px;
		margin: 0 auto;
	}

}

.info .container {
	align-items: center;
	height: 585px;
}

@media (max-width: 767px) {

	.info .col {
		width: auto;
	}

}

.info h3 {
	margin-bottom: 30px;

	font-family: 'Bradobrei';
	font-size: 30px;
	line-height: 40px;
}

.info p {
	margin-bottom: 50px;
}

.info .btn {
	color: #fff;

	background: none;
	border-color: #fff;
}

.info .btn:hover {
	color: #000;

	background: #fff;
}

.info .btn:active {
	color: #00000070;
}

/**/



/* .blog */

.blog {
	padding: 90px 0;
}

.blog .container {
	position: relative;
}

@media (max-width: 991px) {

	.blog .container {
		flex-direction: column;
		align-items: center;
	}

}

@media (max-width: 767px) {

	.blog .container {
		padding-bottom: 45px;
	}

}

.blog .container:before {
	content: "";

	position: absolute;
	top: 40px;
	right: 100px;
	left: 100px;

	height: 270px;

	background: #f6f6f6;
}

@media (max-width: 1199px) {

	.blog .container:before {
		right: 20px;
		left: 20px;
	}

}

@media (max-width: 767px) {

	.blog .container:before {
		display: none;
	}

}

.blog h3 {
	position: absolute;
	top: 0;
	left: 130px;
	transform-origin: top right;
	transform: translate(-100%) rotate(-90deg);
	z-index: 2;

	display: flex;
	align-items: center;

	font-family: 'Bradobrei';
	font-weight: normal;
	font-size: 30px;
	line-height: 1;
}

@media (max-width: 1199px) {

	.blog h3 {
		left: 50px;
	}

}

@media (max-width: 767px) {

	.blog h3 {
		position: static;
		transform: none;

		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}

	.blog h3:before {
		content: "";

		display: block;
		width: 80px;
		height: 1px;
		margin-right: 20px;

		background: #000;
	}

}

.blog h3:after {
	content: "";

	display: block;
	width: 80px;
	height: 1px;
	margin-left: 20px;

	background: #000;
}

@media (max-width: 575px) {

	.blog h3:after {
		content: "";

		display: block;
		width: 50px;
		height: 1px;
		margin-left: 10px;

		background: #000;
	}

	.blog h3:before {
		content: "";

		display: block;
		width: 50px;
		height: 1px;
		margin-right: 10px;

		background: #000;
	}

}

.blog .col-left {
	padding-right: 60px;
}

@media (max-width: 991px) {

	.blog .col-left {
		width: auto;
		margin-bottom: 45px;
		padding: 0;
	}

}

.blog .col-left .post {
	margin-left: auto;
	padding-left: 90px;
}

@media (max-width: 767px) {

	.blog .col .post {
		padding: 0;
	}

}

.blog .col .post img {
	width: 100%;
	margin-bottom: 25px;
}

@media (max-width: 991px) {

	.blog .col .post img {
		width: 280px;
	}

}

.blog .col .post h4 {
	margin-bottom: 30px;

	font-family: 'Raleway';
	font-weight: 800;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.blog .col .post p {
	margin-bottom: 35px;
}

@media (max-width: 991px) {

	.blog .col-right {
		position: static;
		width: auto;
		padding-left: 90px;
	}

}

@media (max-width: 767px) {

	.blog .col-right {
		padding-left: 0;
	}

}

.blog .col-right .post {
	padding-right: 150px;
}

@media (max-width: 991px) {

	.blog .col-right .post {
		padding: 0;
	}

}

.to-all-posts {
	position: absolute;
	top: 60px;
	right: 120px;

	font-family: 'Raleway';
	font-weight: 800;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
}

@media (max-width: 991px) {

	.to-all-posts {
		top: 0;
		right: 20px;
	}

}

@media (max-width: 767px) {

	.to-all-posts {
		top: auto;
		right: auto;
		bottom: 0;
		left: 20px;
	}

}

.to-all-posts:before {
	content: "";

	position: absolute;
	right: 25px;
	bottom: -3px;
	left: 0;

	display: block;
	height: 1px;

	background: #000;
}

.to-all-posts:after {
	content: "→";

	margin-left: 10px;

	font-size: 15px;
	line-height: 1;

	border: none;
}

.to-all-posts:active,
.to-all-posts:active:after {
	color: #00000070;
}

.to-all-posts:active:before {
	background: #00000070;
}

/**/



/* .footer */

.footer {
	padding: 70px 0;

	color: #fff;

	background: #252729;
}

@media (max-width: 575px) {

	.footer .container {
		justify-content: center;
	}

}

.footer .section:nth-child(1) {
	margin-right: 180px;
}

@media (max-width: 767px) {

	.footer .section:nth-child(1) {
		margin: 0;
	}

}

@media (max-width: 575px) {

	.footer .section:nth-child(1) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

.footer .logo {
	margin-bottom: 30px;
}

.footer .copyright {
	font-size: 12px;
}

.footer .section:nth-child(2) {
	margin-right: auto;
}

@media (max-width: 767px) {

	.footer .section:nth-child(2) {
		display: none;
	}

}

.footer .nav-list:after {
	display: none;
}

.footer .section:nth-child(3) {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 575px) {

	.footer .section:nth-child(3) {
		display: none;
	}

}

.footer .section:nth-child(3) a {
	display: block;
}

.footer .section:nth-child(3) .phone {
	margin: 0;
	margin-bottom: 30px;


}

/**/